POSTGRES_USER=admin
POSTGRES_PASSWORD=troque-esta-senha
POSTGRES_DATABASE=atendimento_apae_db

MINIO_ROOT_USER=minio
MINIO_ROOT_PASSWORD=troque-esta-senha

BUCKET_NAME=apae

FRONT_END_URL=http://localhost
NEXT_PUBLIC_API_URL=http://localhost:8080

JWT_SECRET=troque-este-secret
JWT_EXPIRATION=30
JWT_COOKIE_SECURE=false
