JWT_SECRET=AQUI_A_SECRET_BASE64
JWT_EXPIRATION=30
JWT_COOKIE_SECURE=false
CORS_ALLOWED_ORIGINS=http://localhost:3000

MINIO_ENDPOINT=http://localhost:9000
MINIO_ROOT_USER=minio
MINIO_ROOT_PASSWORD=minio123
BUCKET_NAME=apae