name: CI Back-end

on:
  pull_request:
    branches:
      - dev
    paths:
      - 'backend/**'

jobs:
  build:
    name: Build do projeto back-end
    runs-on: ubuntu-latest

    steps:
      - name: Baixar repositório
        uses: actions/checkout@v5

      - name: Configurar JDK 21
        uses: actions/setup-java@v4
        with:
          java-version: '21'
          distribution: 'temurin'
          cache: maven

      - name: Compilar aplicação com Maven (sem testes)
        working-directory: ./backend/atendimento
        run: mvn clean package -Dspring-boot.run.profiles=test -DskipTests

      - name: Salvar artefato gerado
        uses: actions/upload-artifact@v4
        with:
          name: backend-build
          path: backend/atendimento/target/*.jar
